*{
    margin: 0;
    padding: 0;
}

.navbar{
    border-radius: 4px;
}
body{
    background-image: url(img/background1.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-family: 'Special Elite', cursive;
    color: green ;
    text-align: center;
    margin-top: 5px;
}

.title{
    text-align: center;
    color: black;
    font-family: 'Mali', cursive;
}

h3{
    color: black;
    font-size: 7.5vh;
    margin: 3px;
}


.i{
    float: left;
}

img{
    height: 18vh;
    border-radius: 15px;
}

.name{
    width: 85%;
    float: right;
    font-family: 'Mali', cursive;
}

p{
    font-size: xx-small;
}

.data{
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    width: 90vw;
    height: 20vh;
    border: 0.2px solid black;
    border-radius: 5px;
    display: block;
    background-color: #c5d7c2;;
}